@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  --bg: #efefef;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);
  --primary: #FF585D;
  --secondary: #0072CE;

  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Grandstander', cursive;
  font-size: calc(0.9em + 0.5vw);
  line-height: 1.3;
}

body {
  margin: 0;
  padding: 1em;
}

main {
  margin: 0 auto;
  max-width: 25em;
}

.avatar-select {
  display: flex;
    flex-direction: row-reverse;
}

h1 {
  margin-top: 0;
  text-align: center;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000;
  font-weight: normal;
}

h1 span {
  text-decoration: line-through;
}

.accountId {
  font-size: 0.5em;
  display: block;
}

hr {
  margin-bottom: 2rem;
}

ul.user-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

ul.user-list li {
  display: flex;
  width: 100%;
  height: 140px;
  margin: 0 15px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  filter: drop-shadow(0px 0px 2px #000) drop-shadow(0px 0px 5px #000);
  padding: 0;
  position: relative;
  background-color: #191919;
  margin-bottom: 1rem;
}

ul.user-list li:hover {
  background-color: #111;
}

.vote {
  background: #060606!important;
  border: 1 px solid #000!important;
  fill: #fff;
  padding: 0.5rem 1rem!important;
  transition: all 250ms;
}

.vote:hover {
  background-color: #000!important;
  box-shadow: none;
}

.vote span {
  font-size: 1.5rem;
}

.vote[disabled] * {
  opacity: 0;
}

.vote[disabled] {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-right: 1.6rem;
  border-radius: 50%;
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.ribbon {
  display: none!important;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px!important;
  border-bottom-right-radius: 10px;
}

ul.user-list li.premium {
  border-radius: 4px;
  filter: drop-shadow(0px 0px 5px #8f7b10);
}

.premium .ribbon {
  display: flex!important;
}

.ribbon span {
  padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    color: #8f7b10;
    font-weight: bold;
}

ul.user-list li > div {
  width: 100%;
  overflow: hidden;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

ul.user-list li > div * {
  text-align: left!important;
}

ul.user-list li > div small {
  margin-bottom: 0.15rem;
    margin-top: 0.15rem;
}

ul.user-list li .rank {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: normal;
}

ul.user-list li .rank {
  font-size: 2rem;
  font-weight: bold;
  width: auto;
  margin-left: 1rem;
}

ul.user-list li img {
  width: 100px;
  height: 100px;
  margin: 10px;
  margin-right: 20px;
}

ul.user-list li button {
  margin-right: 1rem;  
}

ul.user-list li strong {
  color: #ccc;
  font-size: 1.25em;
  white-space: nowrap;
  text-overflow: clip;
  width: 100%;
  text-align: center;
}

ul.user-list li small {
  color: #999;
  font-size: 0.75em;
  white-space: nowrap;
  text-overflow: clip;
  width: 100%;
  text-align: center;
}

.header {
  padding: 1rem;
  text-align: center;
  font-size: 4em;
}

p {
  color: #ddd;
  text-align: center;
}

a,
.link {
  color: var(--primary);
  text-decoration: none;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  text-decoration: underline;
}
a:active,
.link:active {
  color: var(--secondary);
}

#avatar-container {
  width: 150px;
  height: 150px;
  margin-bottom: 0.5rem;
  filter: drop-shadow(0px 0px 5px black) drop-shadow(0px 0px 10px black);
}

#refresh-avatar {
  fill: #fff;
  padding: 3px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

button, input {
  font: inherit;
  outline: none;
}

button {
  background-color: var(--secondary);
  border-radius: 5px;
  border: none;
  color: #efefef;
  cursor: pointer;
  padding: 0.3em 0.75em;
  transition: transform 30ms;
}
button:hover, button:focus {
  box-shadow: 0 0 10em rgba(255, 255, 255, 0.2) inset;
}
button:active {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.1) inset;
}
button.link {
  background: none;
  border: none;
  box-shadow: none;
  display: inline;
}
[disabled] button, button[disabled] {
  box-shadow: none;
  background-color: var(--light-gray);
  color: gray;
  cursor: not-allowed;
  transform: none;
}
[disabled] button {
  text-indent: -900em;
  width: 2em;
  position: relative;
}
[disabled] button:after {
  content: " ";
  display: block;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: var(--fg) transparent var(--fg) transparent;
  animation: loader 1.2s linear infinite;
  position: absolute;
  top: 0.45em;
  right: 0.5em;
}
@keyframes loader {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

fieldset {
  border: none;
  padding: 2em 0;
}

input {
  background-color: var(--shadow);
  border: none;
  border-radius: 5px 0 0 5px;
  caret-color: var(--primary);
  color: inherit;
  padding: 0.25em 1em;
}
input::selection {
  background-color: var(--secondary);
  color: #efefef;
}
input:focus {
  box-shadow: 0 0 10em rgba(0, 0, 0, 0.02) inset;
}

code {
  color: var(--gray);
}

li {
  padding-bottom: 1em;
}

aside {
  animation: notify ease-in-out 10s;
  background-color: var(--shadow);
  border-radius: 5px;
  bottom: 0;
  font-size: 0.8em;
  margin: 1em;
  padding: 1em;
  position: fixed;
  transform: translateY(10em);
  right: 0;
}
aside footer {
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  margin-top: 0.5em;
}
aside footer *:first-child {
  color: var(--success);
}
aside footer *:last-child {
  color: var(--gray);
}
@keyframes notify {
  0% { transform: translateY(10em) }
  5% { transform: translateY(0) }
  95% { transform: translateY(0) }
  100% { transform: translateY(10em) }
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: #1e1e1e;
    --fg: #efefef;
    --gray: #aaa;
    --shadow: #2a2a2a;
    --light-gray: #444;
  }
  input:focus {
    box-shadow: 0 0 10em rgba(255, 255, 255, 0.02) inset;
  }
}
